@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{
    @apply bg-slate-300;
    min-height: 100dvh;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    z-index: -10;
    overflow-x: hidden;
}

img.logo{
    transition: .2s;
    filter:saturate(100%)
}

img.logo:hover{
    filter:saturate(180%) hue-rotate(-15deg)
}

video#hero-vid {
    position: fixed;
    right: 0;
    top:0;
    object-fit:cover;
    min-width: 100%;
    min-height: 100%;
    z-index:0;
  }

header a, header>button{
    @apply text-slate-300;
    font-weight: 600;
    font-size:1.2rem;
    transition:.3s;
}

header a:hover, header a:active, a.active,header>nav>button:hover,.mini-menu-button:hover,.mini-menu-button:active{
    color: hsl(200deg 83.65% 59.22%);
}

.mini-menu-links>*{
    @apply relative flex text-lg font-normal grow px-3 py-2 items-center gap-3;
}

.mini-menu-links>*:hover{
    @apply bg-sky-300 bg-opacity-10;
}

input[type="text"],input[type="number"],input[type="tel"],input[type="password"],input[type="date"],input:not([type]),select{
    @apply p-1 h-8 rounded-full w-full shadow-sm px-3;
    /* border-color:hsl(196.55deg 83.65% 59.22%); */
}

input.mini{
    @apply w-16;
}


input:active,input:hover,input:focus,select:active,select:hover,select:focus{
    border-color:hsl(200deg, 90%, 38.43%);
    outline: none;
}

.btn-go,.btn-white.choice{
    @apply text-white px-3 py-2 bg-sky-500 text-lg rounded-lg shadow-md;
    transition: .3s;
}

.btn-green{
    @apply text-white px-3 py-2 bg-green-600 text-lg rounded-lg shadow-md;
    transition: .3s;
}
.btn-green:hover,.btn-green:focus{
    @apply text-white bg-green-500;
}

.btn-white{
    @apply px-3 py-2 text-lg rounded-lg shadow-sm bg-white;
    transition: .3s;
}

.btn-white:focus,.btn-white:hover{
    @apply  bg-slate-300;
}

.btn-orange{
    @apply text-white px-3 py-2 text-lg rounded-lg shadow-sm bg-orange-700;
    transition: .3s;

}


.btn-orange:focus,.btn-orange:hover{
    @apply  bg-orange-500;
}

.btn-go:focus,.btn-go:hover,.btn-white.choice:focus,.btn-white.choice:hover{
    @apply text-white bg-sky-700;
}

.btn-back{
    @apply text-white px-3 py-2 bg-blue-700 text-lg rounded-lg shadow-md;
    /* background-color: hsl(200deg, 30%, 50%); */
    transition: .3s;
}

.btn-back:focus,.btn-back:hover{
    @apply text-white bg-blue-900;
    /* background-color: hsl(200deg, 90%, 30%); */
}

h1{
    @apply  text-3xl font-bold;
    /* color: hsl(20deg, 70%, 50%); */
}

h2{
    @apply  text-2xl font-semibold;
    /* color: hsl(20deg, 70%, 50%); */
}

ul{
    @apply ms-3;
}

.border-blue,.border-blue-div{
    border-color:hsl(220deg,60%,35%);
}

a:not(header a){
    color:hsl(20deg, 70%, 50%);
}

a:not(header a):hover,a:not(header a):focus{
    color: hsl(20deg, 70%, 70%);
}


.border-blue-div{
    @apply p-6 grow mx-auto bg-slate-50 border-4 rounded-3xl shadow-lg;
}

.cta{
    @apply p-3 px-5 bg-orange-700 text-white rounded-lg shadow-md;
    transition: .3s;
}

.cta:hover,.cta:focus{
    @apply text-white bg-orange-500;
}

.btn{
    @apply gap-1 flex items-center justify-center w-44;
}

.bubble-div{
    @apply bg-slate-100 shadow-md p-4 px-5 sm:rounded-xl;
}

.bubble-div-with-title{
    @apply bg-slate-100 shadow-md sm:rounded-xl overflow-hidden;
}

.bubble-div-title{
    @apply bg-slate-900 text-white flex justify-end gap-2 items-center p-3;
}

.no-scrollbar{
    overflow-y:scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-padding: none;
    scroll-margin: none;
}

label.inputLabel{
    @apply relative mt-3;
}

label.inputLabel input+span,label.inputLabel select+span{
    @apply text-slate-800 rounded-sm;
    position:absolute;
    left:.75rem;
    top:5px;
}

label.inputLabel>select,label.inputLabel>input{
    @apply text-white;
}

label.inputLabel.valued>select,label.inputLabel.valued>input{
    @apply text-black;
}

label.inputLabel>select>option{
    @apply text-black;
}

label.inputLabel>input:focus+span,label.inputLabel>select:focus+span, label.inputLabel.valued>span{
    @apply  bg-white;
    padding:0 .5rem;
    left:1rem;
    top:-12px;
    font-size: smaller;
    transition:.2s;
}
label.inputLabel input:focus+span,label.inputLabel select:focus+span{
    @apply text-sky-600;
}

label.inputLabel input:focus,label.inputLabel select:focus{
    @apply outline-sky-600 border-2 text-black;
}

.main-grid-12{
    @apply container grid grid-cols-12 mx-auto;
}

input.no-arrow::-webkit-outer-spin-button,
input.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.no-arrow[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.dark-bubble{
    @apply bg-slate-900 bg-opacity-75 shadow-md rounded-xl
}

.no-scrollbar-x{
    scrollbar-width: none;
}

.scrollbar-thin{
    scrollbar-width: thin;
}
